{{ define "main" }}

	<!-- Latest Articles -->
	<section>
			<h2 class="font-aspekta text-xl font-[650] mb-3">Latest Articles</h2>

			<!-- Filters -->
			{{ partial "top-navigation.html" . }}

			<!-- Articles list -->
			<div>
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
				{{ partial "ui/card-article.html" . }}
			</div>

	</section>

	<!-- Popular Talks -->
	<section>
			<h2 class="font-aspekta text-xl font-[650] mb-5">Popular Talks</h2>

			<!-- Cards -->
			<div class="grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5">
				{{ partial "ui/card-play.html" . }}
				{{ partial "ui/card-play.html" . }}
			</div>

	</section>

	<!-- Open-Source Projects -->
	<section>
			<h2 class="font-aspekta text-xl font-[650] mb-5">Open-Source Projects</h2>

			<!-- Cards -->
			<div class="grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-5">
				{{ partial "ui/card-project.html" . }}
				{{ partial "ui/card-project.html" . }}
			</div>

	</section>

{{ end }}