{{$currentPage := .RelPermalink}}

<div class="sticky top-0 w-16 md:w-24 shrink-0 h-screen overflow-y-auto no-scrollbar border-r border-slate-200 dark:border-slate-800">
	<div class="h-full flex flex-col justify-between after:flex-1 after:mt-auto">
		<div class="flex-1">
			{{ if not .IsHome }}
				<div class="flex justify-center my-4">
					<a href="/">
						<img class="rounded-full" src="{{.Site.Params.logo}}" width="32" height="32" alt="{{.Title}}" />
					</a>
				</div>
			{{ end }}
		</div>
		<div class="flex-1 grow flex items-center">
			{{ with site.Menus.main }}
				<nav class="w-full">
					<ul class="space-y-4">
						{{ range  site.Menus.main  }}
							<li class="py-2">
								<a class="{{ if eq .URL (relURL $currentPage) }} text-red-500 after:bg-red-500{{ else }}text-slate-400 hover:text-slate-500 dark:text-slate-500 dark:hover:text-slate-400{{ end }} w-full h-6 flex items-center justify-center relative after:absolute after:w-0.5 after:right-0 after:top-0 after:bottom-0" href="{{ .URL }}">
									<span class="sr-only">{{ .Name }}</span>
									{{ partial .Params.icon . }}
								</a>
							</li>
						{{end}}
					</ul>
				</nav>
			{{ end }}
		</div>
	</div>
</div>