<div class="rounded-lg border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 odd:rotate-1 even:-rotate-1 p-5">
	<div class="flex items-center space-x-3 mb-2">

		<span class="text-xs text-slate-400 dark:text-slate-500">*Sponsor</span>
	</div>
	<div class="font-aspekta font-[650] mb-1">Build The Site You Want!</div>
	<p class="text-sm text-slate-500 dark:text-slate-400">Your website should be an asset, not an engineering challenge.</p>
</div>