<div class="rounded-lg border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 odd:rotate-1 even:-rotate-1 p-5">
	<div class="text-center mb-1">
		{{ partial "ui/subscriptors.html" . }}
	</div>
	<div class="text-center mb-8">
	<div class="font-aspekta font-[650] mb-1">Never miss an update!</div>
		<p class="text-sm text-slate-500 dark:text-slate-400">Subscribe and join 100K+ developers.</p>
	</div>
	<form>
		<div class="mb-2">
			<label class="sr-only" for="newsletter">Your email…</label>
			<input id="newsletter" type="email" class="form-input py-1 w-full" placeholder="Your email…" />
		</div>
		<button class="btn-sm w-full  text-slate-100 bg-red-500 hover:bg-red-600" type="submit">Subscribe</button>
	</form>
</div>
