<a class="rounded-lg border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30 odd:-rotate-1 even:rotate-1 hover:rotate-0 transition-transform duration-700 hover:duration-100 ease-in-out p-5" href="#0">
	<div class="flex flex-col h-full">
		<div class="grow">
			<div class="h-10 w-10 flex items-center justify-center border border-slate-200 dark:border-slate-700 rounded-full mb-2">
				<img src="/images/project-icon-01.svg" width="18" height="18" alt="Project 01" />
			</div>
			<div class="text-lg font-aspekta font-[650] mb-1">Awesome Container Tinkering</div>
			<p class="text-sm text-slate-500 dark:text-slate-400 mb-2">Solutions for running containers locally and remotely.</p>
		</div>
		<div class="text-red-500 flex justify-end">
			<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="14" height="12">
				<path d="M9.586 5 6.293 1.707 7.707.293 13.414 6l-5.707 5.707-1.414-1.414L9.586 7H0V5h9.586Z" />
			</svg>
		</div>
	</div>
</a>