<article class="py-5 border-b border-slate-100 dark:border-slate-800">
	<div class="flex items-start">
		<img class="rounded w-16 h-16 sm:w-[88px] sm:h-[88px] object-cover mr-6" src="/images/post-thumb-01.jpg" width="88" height="88" alt="Post 01" />
		<div>
			<div class="text-xs text-slate-500 uppercase mb-1"><span class="text-red-500">—</span> Dec 24, 2023</div>
			<h3 class="font-aspekta text-lg font-[650] mb-1">
				<a class="inline-flex relative hover:text-red-500 duration-150 ease-out before:scale-x-0 before:origin-center before:absolute before:inset-0 before:bg-red-200 dark:before:bg-red-500 before:opacity-30 before:-z-10 before:translate-y-1/4 before:-rotate-2 hover:before:scale-100 before:duration-150 before:ease-in-out" href="post.html">An Interactive Guide to Flexbox</a>
			</h3>
			<div class="flex">
				<div class="grow text-sm text-slate-500 dark:text-slate-400">
				Flexbox is a remarkably flexible layout mode. When we understand how it works, we can build responsive designs that rearrange themselves as needed.
				</div>
				<a class="hidden lg:flex shrink-0 text-red-500 items-center justify-center w-12 group" href="post.html" tabindex="-1">
					{{ partial "icons/arrow-right.html" . }}
				</a>
			</div>
		</div>
	</div>
</article>